@charset "utf-8";
@import "partials/framework";
@import "partials/variable";
@import "partials/fonts";
@import "partials/icons";
@import "partials/base";
*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Banny";
  src:url("../fonts/Banny.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans-Extra Bold";
  src:url("../fonts/Open Sans-Extra Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans-Regular";
  src:url("../fonts/Open Sans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
.wrap{
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}
.header{
  //display: none;
  display: flex;
  justify-content:space-between;
  visibility: visible;
  margin-top: 20px;
  z-index: 999;
  position: relative;
  .menu-container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
  }
  .nav-item{
    list-style: none;
    margin: 0 45px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 1s;
    a{
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
      &:hover{
        color: #e8c300;
        transition: 1s;
      }
    }
    &:nth-child(4){
      grid-column-start:4;
      grid-column-end: 7;
      text-align: left;
    }
  }
}
.baner{
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  margin-top: -50px;
  overflow: hidden;
  .container{
    padding-top: 40px;
    position: relative;
  }
  .wheel{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25px;
    left:50%;
    transform: translateX(-50%);
    transition:all 1s ease-in-out;
    &:hover{
      transform: rotate(180deg) translateX(50%);
    }
  }
  .header-title{
    margin: 300px auto 0 auto;
    color: white;
    .rest{
      text-transform: uppercase;
      font-family:Open Sans;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0.5em;
      text-align: center;
    }
    h1{
      font-family: Banny;
      font-size: 96px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 20px;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #e8c300;
        width: 60px;
        height: 4px;
      }
    }
    .btn-cont{
      padding-top: 70px;
      display: flex;
      justify-content: center;
      .btn-right, .btn-left{
        min-width:200px;
        padding: 20px 25px;
        margin: 10px;
        text-transform: uppercase;
        color: white;
        background-color: transparent;
        border:1px solid rgba(white,0.3);
        border-radius: 5px;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        outline:0;
        transition: 0.5s;
        cursor: pointer;
        &:hover{
          background-color:#E8C300;
          border: none;
        }
      }
    }
  }
  .cont_white-circle{
    padding: 50px 0;
    .white-circle{
      position: relative;
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      cursor: pointer;
      margin:0 auto;
      .down{
        position: absolute;
        transform: rotate(-45deg);
        top: 12px;
        left: 15px;
        width: 7px;
        height: 7px;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
      }
    }
  }
  .icons-cont{
    position: absolute;
    top: 350px;
    right:0;
    .icon{
      width: 50px;
      height: 50px;
      border:1px solid rgba(white,0.3);
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
  }
  .burger{
    position: absolute;
    top: 10%;
    left: 5%;
    visibility: hidden;
    cursor: pointer;
    .line{
      display: block;
      width: 50px;
      height: 3px;
      background-color: white;
      margin-top: 10px;
    }
  }
}
.section_aboutus{
  padding: 100px 0;
}
.cont_setting{
  width: 100%;
  padding:0;
  margin:0 auto;
  display: flex;
  justify-content:center;
  }
.text_setting{
  max-width:500px;
  width: 100%;
  color: #000000;
  padding-right: 100px;
  h2{
    font-family: Banny;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #e8c300;
      width: 60px;
      height: 4px;
    }
  }
  .top_text{
    font-family:"Open Sans-Extra Bold";
    font-weight: 700;
    font-size:20px;
    line-height: 28px;
    text-align: center;
    padding-top: 20px;
  }
  .low_text {
    padding-top: 20px;
    font-family: "Open Sans-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
.img_setting{
  width:475px;
  height: 475px;
  background-image: url(../images/about-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 47px 0px rgba(34, 60, 80, 0.29);
  &:after{
    position: absolute;
    content:"";
    top: 100px;
    right: -100px;
    width: 250px;
    height: 250px;
    border: 20px solid #e8c300;
    border-radius: 5px;
    box-sizing: border-box;
  }
}
.section_mastershef{
  background-image: url(../images/specialtys-bg.png);
  background-size:cover;
  background-repeat: no-repeat;
  width:100%;
  padding: 100px 0 100px;
  position: relative;
  .container_mastershef{
    padding: 0;
    position: relative;
  }
}
.ourteam,.specialties,.private_events{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
}
.text_mastershef,.text_slider{
  color: white;
  padding-left: 100px;
  padding-right: 0;
}
.img_mastershef,.img_slider,.img_events_left{
  background-image: url(../images/Rectangle.png);
  &:after{
   left: -100px;
  }
}
.section_form{
  padding: 80px 0;
  .container_section_form{
    position: relative;
    .form{
      width: 568px;
      padding-right: 100px;
      h2{
        margin-bottom:30px;
      }
      .form_items{
        display: grid;
        grid-template-columns:repeat(2, 2fr);
        grid-template-rows: auto;
        grid-gap:10px;
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button{
          appearance: none;
          margin: 0;
        }
      }
      .input-item{
        width:100%;
        height: 60px;
        background: #E5E5E5;
        border-radius: 5px;
        border: 2px solid transparent;
        box-sizing: border-box;
        transition: 1s;
        text-indent: 10px;
        &:hover{
          border-color: #E8C300;
          transition: 1s;
        }
        @include placeholder{
          font-family: Open Sans;
          font-size: 14px;
          line-height: 19px;
        }
      }
      .booknow{
        width:100%;
        height:60px;
        background-color: #E8C300;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        color: #FFFFFF;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
      }
    }
    .img_form{
      background-image: url(../images/book-table.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

  }
  .info{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    padding-top: 20px;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgba(51, 51, 51, 0.5);
  }
}
.section_slider{
  position: relative;
  width: 100%;
  padding: 100px 0 100px;
  background-image: url(../images/pancakes-bg.png);
  background-size: cover;
  .container_slider{
    .slider{
      display: flex;
      justify-content:space-around;
      width: 100%;
      padding: 0;
      margin:0;
      .img_slider {
        background-image: url(../images/pancakes.png);
        background-size: cover;
        width:475px;
        height: 475px;
        position: relative;
        box-shadow: 0px 0px 47px 0px rgba(34, 60, 80, 0.29);
      }
      .text_slider{
        padding-left: 0;
      }
    }
  }
}
.section_menu{
  padding: 100px 0 100px;
  .container_menu{
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    .text_menu{
      max-width:600px;
      width: 100%;
      color: #000000;
      h2{
        font-family: Banny;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 5px;
        position: relative;
        &:after{
          position: absolute;
          content: '';
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          background-color: #e8c300;
          width: 60px;
          height: 4px;
        }
      }
      .top_text{
        font-family:"Open Sans-Extra Bold";
        font-weight: 700;
        font-size:20px;
        line-height: 28px;
        text-align: center;
        padding-top: 20px;
      }
    }
    .menu_cont{
      width: 100%;
      .tabs{
        .tabs__caption {
          display: flex;
          justify-content: center;
          li{
            padding: 5px 35px;
            border-right: 1px solid rgba(51, 51, 51, 0.2);;
            border-bottom: none;
            display: flex;
            align-items: center;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
        .tabs__content {
          display: none;
          grid-template-columns: repeat(3,1fr);
          grid-auto-rows: auto;
          grid-gap: 20px;
          padding-top: 50px;
          .item_menu{
            display: flex;
            .name_item{
              .name{
                font-family: Banny;
                font-size: 18px;
                line-height: 18px;
                text-transform: uppercase;
              }
              .sub_name{
                font-family:"Open Sans";
                font-size: 10px;
                line-height: 18px;
                color:#C4C4C4;
              }
            }
            .price_item{
              margin-left: 10px;
              .price{
                font-family: Banny;
                font-size: 18px;
                line-height: 18px;
                text-transform: uppercase;
              }
            }
          }

          &.active {
            display: grid;
          }
        }
      }
    }
  }
}
.section_events{
  .container_events{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0;
    .img_events_top_cont{
      display: flex;
      justify-content: center;
      background-image: url(../images/events-bg.png);
      background-size:cover;
      background-repeat: no-repeat;
      width: 100%;
      height:100%;
      .img_events_left{
        background-image: url(../images/Rings.png);
        position: relative;
        margin: 100px 40px 0 0;
        .weddings,.corporate{
          position: absolute;
          width: 80px;
          height: 100%;
          background: #000000;
          color: #FFFFFF;
          top: 0;
          right: 0;
          writing-mode:vertical-rl;
          font-family: Banny;
          font-size: 24px;
          line-height: 12px;
          display: flex;
          align-items: center;
          text-indent: 20px;
          text-transform: uppercase;
        }
      }
      .img_events_right{
        background-image: url(../images/flowers.png);
        margin: 100px 0 100px 40px;
        position: relative;
        width:475px;
        height: 475px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        box-shadow: 0px 0px 47px 0px rgba(34, 60, 80, 0.29);
        &:after{
          position: absolute;
          content:"";
          top: 100px;
          right: -100px;
          width: 250px;
          height: 250px;
          border: 20px solid #e8c300;
          border-radius: 5px;
          box-sizing: border-box;
        }
        .corporate{
          position: absolute;
          width: 80px;
          height:100%;
          background: #000000;
          color: #FFFFFF;
          top: 0;
          left: 0;
          writing-mode:vertical-rl;
          transform: rotate(180deg);
          font-family: Banny;
          font-size: 24px;
          line-height: 12px;
          display: flex;
          align-items: center;
          text-indent: 20px;
          text-transform: uppercase;
        }
      }
    }
    .img_events-down_cont {
      display: flex;
      .img_galeri, img{
        max-width: 500px;
        width:100%;
        height: 100%;
      }
    }
  }
}
.section_contact{
  padding-top: 100px;
  .container_contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    .text_contact{
      width:600px;
      height: 180px;
      color: #000000;
      margin: 0 auto;
      h2{
        font-family: Banny;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 5px;
        position: relative;
        &:after{
          position: absolute;
          content: '';
          bottom: -10px;
          left: 260px;
          background-color: #e8c300;
          width: 60px;
          height: 4px;
        }
      }
      .top_text{
        font-family:"Open Sans-Extra Bold";
        font-weight: 700;
        font-size:20px;
        line-height: 28px;
        text-align: center;
        padding-top: 20px;
      }
    }
    .form_contact{
      height: 200px;
      padding-bottom: 160px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 60px 120px 60px;
      grid-gap: 10px;
      input{
        text-indent: 10px;
      }
      .name{
        background: #E5E5E5;
        border-radius: 5px;
        outline: none;
        border: none;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        @include placeholder{
          font-family: Open Sans;
          font-size: 14px;
          line-height: 19px;
        }
      }
      .email{
        background: #E5E5E5;
        border-radius: 5px;
        outline: none;
        border: none;
        grid-column-start:3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        @include placeholder{
          font-family: Open Sans;
          font-size: 14px;
          line-height: 19px;
        }
      }
      .phone{
        background: #E5E5E5;
        border-radius: 5px;
        outline: none;
        border: none;
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
        @include placeholder{
          font-family: Open Sans;
          font-size: 14px;
          line-height: 19px;
        }
      }
      .messege{
        background: #E5E5E5;
        border-radius: 5px;
        outline: none;
        border: none;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        @include placeholder{
          font-family: Open Sans;
          font-size: 14px;
          line-height: 19px;
        }
      }
      .info{
        border-radius: 5px;
        outline: none;
        border: none;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        justify-content: space-between;
        .info_item{
          display: flex;
          align-items: center;
          font-style: normal;
          padding: 0 5px;
          .addres{
            padding-top: 5px;
            font-weight: 900;
            font-size: 14px;
            line-height: 10px;
          }
        }
        img{
          width: 20px;
          height: 20px;
          padding-right:5px;
        }
      }
      .send{
        background-color: #E8C300;
        border-radius: 5px;
        outline: none;
        border: none;
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
}
.container_maps{
  margin: 0 auto;
}
.footer{
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}




@media screen and (max-width: 1280px){
  .header {
    max-width: 1000px;
    width: 100%;
    .nav-item {
      margin: 0 30px;
    }
  }
  .baner{
    .container{
      .wheel{
        top: 100px;
        left:50%;
        transform: translateX(-50%);
      }
      .nav-item{
        margin: 0 25px;
      }
      .header-title{
        margin: 300px auto 0 auto;
        h1 {
          font-size: 80px;
        }
        .btn-cont {
          margin-top:60px;
        }
      }
      .white-circle{
        margin: 80px auto;
      }
      .icons-cont {
        top: 300px;
      }
    }
  }
  .cont_setting{
    width: 100%;
    justify-content:center;
  }
  .text_setting{
    width: 400px;
    padding: 0 50px;
    h2{
      padding-top: 0;
      font-size: 30px;
    }
    .top_text{
      font-size: 15px;
    }
    .low_text{
      font-size:12px;
    }
  }
  .img_setting{
    width: 350px;
    height: 350px;
    margin-right: 50px;
    &:after{
      width: 150px;
      height: 150px;
      top: 100px;
      right: -50px;
      border: 10px solid #e8c300;
    }
  }
  .img_mastershef,.img_slider,.img_events_left{
    background-image: url(../images/Rectangle.png);
    margin-left: 100px;
    &:after{
      left: -70px;
    }
  }
  .container_mastershef{
    .text_mastershef{
      padding-top: 100px;
    }
    .ourteam{
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .section_form{
    .container_section_form{
      position: relative;
      .form{
        width: 450px;
        padding:0 50px;
        h2{
          margin-bottom:30px;

        }
        .form_items{
          display: grid;
          grid-template-columns:repeat(2, 1fr);
          grid-template-rows: auto;
          grid-gap:10px;
        }
        .input-item{
          width:100%;
        }
        .booknow{
          max-width: 450px;
          width: 100%;
        }
      }
      .img_form{
        width:350px;
      }
      .info{
        bottom:-50px;
      }
    }
  }
  .container_slider{
    width: 100%;
    .text_slider{
      padding-top: 100px;
    }
  }
  .container_menu .menu_cont .tabs__content{
    padding: 0 10px;
  }
  .section_events{
    .container_events{
        .img_events_top_cont{
          .img_events_right{
            width: 350px;
            height: 350px;
            &:after{
              width: 150px;
              height: 150px;
              right: -50px;
              border: 10px solid #e8c300;
            }
          }
      }
    }
  }
  .section_contact{
    .container_contact{
      .text_contact{
        width:600px;
        height: 180px;
        color: #000000;
        margin: 0 auto;
        h2{
          font-family: Banny;
          font-size: 36px;
          line-height: 48px;
          text-align: center;
          text-transform: uppercase;
          padding-top: 5px;
          position: relative;
          &:after{
            position: absolute;
            content: '';
            bottom: -10px;
            left:50%;
            transform: translateX(-50%);
            background-color: #e8c300;
            width: 60px;
            height: 4px;
          }
        }
        .top_text{
          font-family:"Open Sans-Extra Bold";
          font-weight: 700;
          font-size:20px;
          line-height: 28px;
          text-align: center;
          padding-top: 20px;
        }
      }
      .form_contact{
        padding: 0 20px 160px 20px;
        .info{
          .info_item{
            .addres{
              line-height: 20px;
            }
          }
        }
        .send{
          background-color: #E8C300;
          border-radius: 5px;
          outline: none;
          border: none;
          grid-column-start: 4;
          grid-column-end: 7;
          grid-row-start: 3;
          grid-row-end: 4;
          font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 20px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px){
  .wrap{
    max-width: 100%;
  }
  .header{
    position: absolute;
    top: 30%;
    left: -100px;
    opacity: 0;
    display: none;
    justify-content: flex-start;
    transition: all 1s ease-in-out;
    .left-container,.right-container{
      flex-direction: column;
      li{
        border: 1px solid rgba(#e8c300, 0.5);
        border-radius: 20px;
        margin: 2px;
        font-size: 10px;
      }
    }
    &.vis{
      opacity: 1;
      left: 5%;
    }
  }
  .baner{
    .container{
      padding-top: 0;
      margin: 0 auto;
      .header-title{
        margin: 0 auto;
        padding-top: 400px;
        h1 {
          font-size: 60px;
        }
        .btn-cont {
          padding-top:40px;
          .btn-right, .btn-left {
          }
        }
      }
      .burger{
        top: 15%;
        visibility: visible;
      }
      .icons-cont{
        top:15%;
        right: 70px;
        display: flex;
        flex-direction: row;
        .icon{
          width: 30px;
          height: 30px;
          margin: 3px;
        }
      }
      .white-circle {
        width: 30px;
        height: 30px;
        margin: 60px auto;
        .down{
          top: 8px;
          left: 10px;
        }
      }
      .wheel{
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        img{
          width: 100%;
        }
        width: 150px;
        height: 150px;
      }
    }
  }
  .section_aboutus .container_section_aboutus{
    display:flex;
    justify-content: space-around;
  }
  .text_setting{
    max-width: 300px;
    width:100%;
    padding: 0;
  }
  .img_setting{
    width:300px;
    height: 300px;
    margin-right: 0;
    &:after{
      width: 150px;
      height: 150px;
      top: 80px;
      right: -10%;
    }
  }
  .section_mastershef{
    .container_mastershef{
      .text_mastershef{
        padding-top: 0;
      }
      .img_mastershef{
        margin: 0;
        &:after{
          left:-10%;
        }
      }
    }
  }
  .section_form{
    .container_section_form{
      position: relative;
      display: flex;
      align-items:center;
      .form{
        width: 100%;
        padding:0;
        h2{
          margin-bottom:30px;

        }
        .form_items{
          display: grid;
          grid-template-columns:repeat(2,2fr);
          grid-template-rows: auto;
          grid-gap:10px;
        }
        .input-item{
          width:100%;
          height: 60px;
          background: #E5E5E5;
          border-radius: 5px;
          border: none;
          box-sizing: border-box;
          &:hover{
            border: 2px solid #E8C300;
          }
          @include placeholder{
            font-family: Open Sans;
            font-size: 14px;
            line-height: 19px;
            padding-left: 10px;
          }
        }
        .booknow{
          width:100%;
          height:60px;
          background-color: #E8C300;
          border: none;
          border-radius: 5px;
          margin-top: 10px;
          color: #FFFFFF;
          font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 20px;
          text-transform: uppercase;
        }
      }
      .img_form{
        background-image: url(../images/book-table.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;
      }
      .info{
        bottom:-50px;
      }
    }
  }
  .container_slider{
    .slider-wrap{
      .slider{
        .img_slider{
          width:300px;
          height:300px;
          margin-left: 0;
        }
      }
    }
    .text_slider{
      padding-top: 0;
    }
  }
  .section_menu{
    padding: 50px 0 50px;
    .container_menu{
      .text_menu{
        max-width:600px;
        width: 100%;
        color: #000000;
        h2{
          font-size: 30px;
        }
        .top_text{
          font-size:15px;
        }
      }
      .menu_cont{
        .tabs{
          .tabs__caption{
            padding-bottom: 20px;
          }
          .tabs__content {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            padding: 0 10px;
            .item_menu{
              .name_item{
                .name{
                  font-size: 15px;
                }
                .sub_name{
                  font-size: 8px;
                }
              }
              .price_item{
                .price{
                  font-size: 15px;
                }
              }
            }
          }
          .tab :checked + .tab-title {
            position: relative;
            background: #fff;
            top: 1px;
            z-index: 1;
          }
          .tab :checked ~ .tab-content {
            display: block;
          }
        }
      }
    }
  }
  .section_events{
    .container_events{
      .img_events_top_cont{
        .img_events_left{
          margin: 100px 10px;
          &:after{
            top: 25%;
            left:-20%;
          }
        }
        .img_events_right{
          width: 300px;
          height: 300px;
          margin: 100px 10px;
          &:after{
            top: 25%;
            right:-20%;
          }
        }
      }
    }
  }
  .cont_setting{
    width: 800px;
    padding:0;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
  }
  .section_contact .container_contact .info{
    flex-direction: column;
    .info_item .tel{
      display: flex;
      flex-direction:row;
      .addres{
        &:nth-child(2){
          padding-left:10px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .baner{
    margin-top: -10px;
    .container{
      width: 100%;
      .white-circle{
        margin: 5px auto;
      }
      .header-title{
        padding-top:100px;
        .rest{
          font-size: 5px;
        }
        h1 {
          margin-top: 5px;
          font-size: 30px;
          &:after{
            bottom: -10px;
          }
        }
        .btn-cont {
          margin-top:10px;
          .btn-right, .btn-left {
            min-width: 30px;
            padding: 5px 5px;
            font-size: 7px;
          }
        }
      }
      .icons-cont{
        top: 30px;
        right: 25px;
        display: flex;
        flex-direction: row;
        .icon{
          width: 15px;
          height: 15px;
          margin: 3px;
          img{
            width: 10px;
            height: 10px;
          }
        }
      }
      .cont_white-circle{
        padding: 20px 0;
        .white-circle {
          width: 16px;
          height: 16px;
          margin: 0 auto;
          .down{
            width: 3px;
            height: 3px;
            top: 4px;
            left: 5px;
          }
        }
      }
      .wheel{
        top: 20px;
        img{
          width: 100%;
        }
        width: 50px;
        height: 50px;
      }
      .burger{
        .line{
          width:30px;
          margin-top: 5px;
        }
        top: 30px;
      }
    }
  }
  .wrap{
      max-width: 100%;
    }
  .img_setting{
    width: 200px;
    height: 200px;
    &:after{
      width: 100px;
      height: 100px;
      top: 50px;
      right: -20%;
    }
  }
  .cont_setting{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  .text_setting{
      max-width: 300px;
      width:100%;
    h2{
      font-size: 25px;
      padding-top:10px;
    }
    .top_text{
      font-size:15px;
    }
    .low_text {
      padding-top: 10px;
      font-size: 10px;
    }
    }
  .section_aboutus{
      padding: 20px 0;
    }
  .section_mastershef{
    padding: 50px 0 20px;
    .container_mastershef{
      .text_mastershef{
        padding-top: 0;
        margin: 0 auto;
      }
    }
  }
  .section_slider{
    padding: 30px 0 ;
    .container_slider{
      .slider-wrap .slider{
        .img_slider{
          width: 200px;
          height:200px ;
        }
      }
    }
  }
  .section_form {
    padding: 20px 20px;
    .container_section_form {
      .form {
        margin-right:0;
        padding:0 40px 20px 40px;
        .form_items{
          grid-gap: 5px;
        }
        .input-item{
          height: 30px;
        }
        .booknow{
          height: 30px;
        }
      }
      .img_form{
        width: 200px;
        height: 200px;
      }
      .info{

      }
    }
  }
  .section_menu {
    padding: 20px 0;
    .container_menu .menu_cont .tabs {
      .tabs__caption{
        li{
          padding: 2px 6px;
          font-size: 10px;
        }
      }
      .tabs__content{
        grid-template-columns: repeat(1,1fr);
      }
    }
  }
  .section_events{
    .container_events{
      .img_events_top_cont{
        flex-direction: column;
        align-items: center;
        .img_events_left{
          margin:100px 0 0 0 ;
        }
        .img_events_right{
          width: 200px;
          height: 200px;
          margin: 10px 0;
          &:after{
            width: 100px;
            height: 100px;
            top: 50px;
            right: -20%;
          }
          }
        }
      }
    }
  .section_contact{
    padding-top: 20px;
    .container_contact{
      .text_contact{
        max-width: 300px;
        width:100%;
        padding-bottom: 40px;
      }
      .form_contact{
        grid-template-rows: 30px 60px 30px 30px;
        grid-gap:3px;
        padding:0;
        .info{
          flex-direction: row;
          grid-column-start: 1;
          grid-column-end: 7;
          grid-row-start:4;
          grid-row-end: 5;
          .info_item{
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            .addres{
              font-size: 10px;
              &:nth-child(2){
                padding: 0;
              }
            }
            .tel{
              flex-direction: column;
            }
            }
          }
        .send{
          grid-column-start: 1;
        }
        }
      }
    }
  .container_maps{
    padding-top: 50px;
  }
}







@import "partials/media_min_768";
@import "partials/media_min_1024";
@import "partials/media_min_1280";
@import "partials/media_other";