//= template/head.html
//= template/header.html

<div class="header wrap">
    <nav class="nav-menu">
        <ul class="menu-container">
            <li class="nav-item"><a href="#home">home</a></li>
            <li class="nav-item"><a href="#about">about</a></li>
            <li class="nav-item"><a href="#team">team</a></li>
            <li class="nav-item"><a href="#booking">booking</a></li>
            <li class="nav-item"><a href="#menu">menu</a></li>
            <li class="nav-item"><a href="#galerie">galerie</a></li>
            <li class="nav-item"><a href="#events">events</a></li>
            <li class="nav-item"><a href="#contact">contact</a></li>
        </ul>
    </nav>
</div>
<div class="baner" id="home">
        <div class="container wrap">
            <div class="wheel">
                <img src="../images/Vector.png" alt="">
            </div>
            <div class="header-title">
                <p class="rest">restaurant</p>
                <h1>hungry people</h1>
                <div class="btn-cont">
                    <button class="btn-left">book table</button>
                    <button class="btn-right">explore</button>
                </div>
            </div>
            <div class="cont_white-circle">
                    <div class="white-circle">
                        <a href="#">
                            <div class="down"></div>
                        </a>
                    </div>
            </div>
            <div class="icons-cont">
                <div class="icon">
                    <a href="https://uk-ua.facebook.com/" target="_blank">
                        <img src="../images/facebook.png" alt="" >
                    </a>
                </div>
                <div class="icon">
                    <a href="https://twitter.com/?lang=ru" target="_blank">
                        <img src="../images/twitter.png" alt="">
                    </a>
                </div>
                <div class="icon">
                    <a href="https://www.instagram.com/?hl=ru" target="_blank">
                        <img src="../images/inst.png" alt="">
                    </a>
                </div>
            </div>
            <div class="burger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </div>
<div class="section_aboutus" id="about">
    <div class="container_section_aboutus cont_setting wrap">
        <div class="text_aboutus text_setting">
            <h2>about us</h2>
            <p class="top_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
            <p class="low_text">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </div>
        <div class="img_aboutus img_setting"></div>
    </div>
</div>
<div class="section_mastershef" id="team">
    <p class="ourteam">ourteam</p>
    <div class="container_mastershef cont_setting wrap">
        <div class="img_mastershef img_setting"></div>
        <div class="text_mastershef text_setting">
            <h2>mastershef</h2>
            <p class="top_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
            <p class="low_text">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </div>
    </div>
</div>
<div class="section_form" id="booking">
    <div class="container_section_form cont_setting wrap">
        <div class="form text_setting">
            <h2>book a table</h2>
                <form class="form_items">
                    <input class="input-item" type="text" placeholder="Name">
                    <input class="input-item" type="email" placeholder="Email">
                    <input class="input-item" type="number" placeholder="Phone">
                    <input class="input-item" type="number" placeholder="People">
                    <input class="input-item date" type="date" placeholder="Date (mm/dd)">
                    <input class="input-item" type="time" placeholder="Time">
                </form>
                <button class="booknow">book now</button>
        </div>
        <div class="img_form img_setting"></div>
        </div>
        <div class="info"><p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM, Phone: +40 729 131 637/+40 726 458 782</p>
    </div>
</div>
<div class="section_slider" id="galerie">
    <p class="specialties">specialties</p>
    <div class="container_slider cont_setting wrap">
        <div class="slider-wrap">
            <div class="slider cont_setting">
                <div class="img_slider "></div>
                <div class="text_slider text_setting">
                    <h2>chocolate pancakes</h2>
                    <p class="top_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
                    <p class="low_text">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
                </div>
            </div>
        </div>
        <div class="slider-wrap">
            <div class="slider cont_setting">
                <div class="img_slider "></div>
                <div class="text_slider text_setting">
                    <h2>chocolate pancakes</h2>
                    <p class="top_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
                    <p class="low_text">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
                </div>
            </div>
        </div>
        <div class="slider-wrap">
            <div class="slider cont_setting">
                <div class="img_slider"></div>
                <div class="text_slider text_setting">
                    <h2>chocolate pancakes</h2>
                    <p class="top_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
                    <p class="low_text">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_menu" id="menu">
    <div class="container_menu cont_setting wrap">
        <div class="text_menu">
            <h2>delicious menu</h2>
            <p class="top_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
        </div>
        <div class="menu_cont">
            <div class="tabs">

                <ul class="tabs__caption">
                    <li class="active">soupe</li>
                    <li>pizza</li>
                    <li>pasta</li>
                    <li>desert</li>
                    <li>wine</li>
                    <li>beer</li>
                    <li>drinks</li>
                </ul>

                <div class="tabs__content active">
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">soupe quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">soupe quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">soupe quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">soupe quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">soupe quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">soupe quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pizza quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pizza quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pizza quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pizza quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pizza quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pizza quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pasta quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pasta quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pasta quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pasta quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pasta quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">pasta quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">desert quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">desert quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">desert quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">desert quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">desert quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">desert quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">wine quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">wine quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">wine quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">wine quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">wine quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">wine quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">beer quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">beer quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">beer quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">beer quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">beer quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">beer quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">drink quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">drink quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">drink quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">drink quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">drink quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                    <div class="item_menu">
                        <div class="name_item">
                            <p class="name">drink quatro stagioni . . .</p>
                            <p class="sub_name">Integer ullamcorper neque eu purus euismod</p>
                        </div>
                        <div class="price_item">
                            <p class="price">55,68 usd</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section_events" id="events">
    <div class="container_events cont_setting ">
        <p class="private_events">private events</p>
        <div class="img_events_top_cont ">
            <div class="img_events_left img_setting">
                <div class="black_block_left"><p class="weddings">weddings</p></div>
            </div>
            <div class="img_events_right">
                <div class="black_block_right "><p class="corporate">corporate pzrties</p></div>
            </div>
        </div>
        <div class="img_events-down_cont">
            <div class="img_galeri"><img src="../images/Rectangle%20(2).png" alt=""></div>
            <div class="img_galeri"><img src="../images/Rectangle%20(3).png" alt=""></div>
            <div class="img_galeri"><img src="../images/Rectangle%20(4).png" alt=""></div>
            <div class="img_galeri"><img src="../images/Rectangle%20(5).png" alt=""></div>

        </div>
    </div>
</div>
<div class="section_contact" id="contact">
    <div class="container_contact wrap">
        <div class="text_contact">
            <h2>contact</h2>
            <p class="top_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
        </div>
        <form class="form_contact">
            <input class="name" type="text" placeholder="Name">
            <input class="email" type="email" placeholder="Email">
            <input class="phone" type="number" placeholder="Phone">
            <input class="messege" type="text" placeholder="Messege">
            <div class="info">
                <div class="info_item">
                    <img src="../images/map.svg" alt="">
                    <p class="addres">5th London Boulevard, U.K.</p>
                </div>
                <div class="info_item">
                    <img src="../images/phone.svg" alt="">
                    <div class="tel">
                        <p class="addres">+40 729 131 637</p>
                        <p class="addres">+40 726 458 782</p>
                    </div>
                </div>
                <div class="info_item">
                    <img src="../images/mail.svg" alt="">
                    <p class="addres">office@mindblister.com</p>
                </div>
            </div>
            <button class="send">send messege</button>
        </form>
    </div>
</div>
<div class="section_google_maps">
    <div class="container_maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d20309.075323923767!2d30.4721233!3d50.4851493!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1612391491405!5m2!1sru!2sua" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<div class="footer">
    <p>© Copyright Mindblister  2019</p>
</div>



//= template/footer-content.html
//= template/modals.html
//= template/footer.html
